In [1]:
"hello"

'hello'

In [7]:
print ("hie")

hie

In [5]:
print("hi")

hi

In [9]:
'walchand institute of technology, solapur'

'walchand institute of technology, solapur'

In [15]:
print("My name is abc")
print ("friend")
print('\n')
print("hie")

My name is abc
friend


hie

In [25]:
a=10
b=20
c=a+b
print("c=",c)

c= 30

In [27]:
len('sejal')

5

In [29]:
len('suhani is mad')

13

In [70]:
a='sejal pradeep'
len(a)

13

In [78]:
a="sejal"
a[1:3]

'ej'

In [80]:
a='hello everyone'
a[3:6]

'lo '

In [90]:
a + ',I am from wit'

'hello everyone,I am from wit'

In [84]:
a.upper()

'HELLO EVERYONE'

In [86]:
a.lower()

'hello everyone'

In [94]:
a.split()

['hello', 'everyone']

In [98]:
def a(word):
    return list(word)
print(a("hello"))

['h', 'e', 'l', 'l', 'o']

In [106]:
print('enter name here {} and then {}'. format('ram','raj'))

enter name here ram and then raj

In [110]:
print('colours are {2} {1} {0}'.format('red','yellow','pink'))

colours are pink yellow red

In [114]:
print('he is {} and she is {}'.format('Aman','Shreya'))

he is Aman and she is Shreya

In [274]:
list=[1,2,3,4,5]
list
type(list)

list

In [126]:
list=[1,2.3,'ram']
list
len(list)

3

In [130]:
list1=[1,2,3]
list2=[4,5,6]
list1+list2

[1, 2, 3, 4, 5, 6]

In [132]:
list1=[1,2,3]
list2=[4,5,6]
list1.append('ram')
list1

[1, 2, 3, 'ram']

In [136]:
list1=['ram','raj']
list2=['sita','radha']
list3=list1+list2
list3

['ram', 'raj', 'sita', 'radha']

In [140]:
list3.append('Aman')
list3

['ram', 'raj', 'sita', 'radha', 'Aman', 'Aman']

In [148]:
list1[1:]

['raj']

In [150]:
list=[1,2,3,4,5]
list[1:]

[2, 3, 4, 5]

In [152]:
list[1::]

[2, 3, 4, 5]

In [156]:
list[3:]

[4, 5]

In [158]:
list[1:]

[2, 3, 4, 5]

In [160]:
list[:3]

[1, 2, 3]

In [166]:
list=['abc','xyz']
list.clear()
list

[]

In [172]:
list=[1,2,3,4,5]
list.pop(3)

4

In [174]:
list

[1, 2, 3, 5]

In [266]:
d1={1,2,'ram'}
type(d1)

set

In [186]:
d1={1,1}
d1

{1}

In [212]:
dict={'key':"sejal","key2":"radha",'key3':123}
dict

{'key': 'sejal', 'key2': 'radha', 'key3': 123}

In [232]:
my_dict = {'key1': ['apple', 'banana'], 'key2': ['hello', 'world']}

result = my_dict['key1'][1].upper() 
print(result)

BANANA

In [264]:
my_dict = {'key1': ['apple', 'banana'], 'key2': ['hello', 'world']}

result = my_dict['key2'][0].upper()  # Access first element of 'key2' list and convert to uppercase
print(result)  # Output: 'HELLO'
print(type)

HELLO
<class 'type'>

In [246]:
{1,2,3,4}

{1, 2, 3, 4}

In [252]:
set={1,2,3,4,5}
set

{1, 2, 3, 4, 5}

In [256]:
set={'ram',1}
set

{1, 'ram'}

In [260]:
set={1,1,1,'raj',2,3,4}
set

{1, 2, 3, 4, 'raj'}

In [262]:
type(set)

set

In [1]:
a=20
b=30
if (a>b):
    print('a is larger')
else:
    print('b is larger')

b is larger

In [5]:
a=6
if(a%2==0):
    print('even')
else:
    print('odd')

even

In [7]:
a=-7
if(a>0):
    print('positive')
else:
    print('negative')

negative

In [31]:
def bill(units):
    if units <= 200:
        bill = 0
    elif units <= 500:
        bill = (units - 200) * 8
    elif units <= 1000:
        bill = (300 * 8) + (units - 500) * 11
    else:
        bill = (300 * 8) + (500 * 11) + (units - 1000) * 14
    
    return bill

units = int(input("Enter the number of units consumed: "))
bill_amount =bill(units)

print(f"Total electricity bill for {units} units: Rs. {bill_amount}")

Enter the number of units consumed:  100000

Total electricity bill for 100000 units: Rs. 1393900

In [41]:
list=[1,2,3,4]
for num in list:
    if num%2==0:
        print(num)

2
4

In [45]:
list=[1,-2,3,4,-4,5,0.05]
for num in list:
    if num>0:
        print(num)

1
3
4
5
0.05

In [13]:
num = int(input('Enter a number:'))

if num > 1:
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            print(f"{num} is not a prime number")
            break
    else:
        print(f"{num} is a prime number")
else:
    print(f"{num} is not a prime number")

Enter a number: 5

5 is a prime number

In [23]:
num = int(input('Enter a number:'))
for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            print(num)
        else:
            print(f"{num} is not a prime number")

Enter a number: 5

5 is not a prime number

In [25]:
list=[1,2,3,4,5]
for i in list:
    if inde
print(list)

[1, 2, 3, 4, 5]

In [32]:
list=[1,2,3,4,5]
for i in list:
    print(i)

1
2
3
4
5

In [42]:
list=[1,2,3,8,5]
list.sort()
list

[1, 2, 3, 5, 8]

In [50]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

def prime_numbers(n):
    primes = [num for num in range(2, n+1) if is_prime(num)]
    return primes

n = int(input("Enter a number: "))
print("Prime numbers up to", n, "are:", prime_numbers(n))

Enter a number:  15

Prime numbers up to 15 are: [2, 3, 5, 7, 11, 13]

In [58]:
n=int(input('enter n'))  
for i in range(1, n+1):
    print(i, end=" ")

enter n 7

1 2 3 4 5 6 7

In [1]:
def process_sentence(sentence):
    reversed_sentence = ""
    for char in sentence[::-1]:
        reversed_sentence += char

    even_chars = ""
    for i in range(0, len(reversed_sentence), 2):
        even_chars += reversed_sentence[i]
    odd_chars = ""
    for i in range(1, len(reversed_sentence), 2):
        odd_chars += reversed_sentence[i]

    split_sentence = []
    word = ""
    for char in sentence:
        if char == " ":
            if word:
                split_sentence.append(word)
                word = ""
        else:
            word += char
    if word:
        split_sentence.append(word)

    vowels = []
    vowel_count = 0
    for char in sentence:
        if char.lower() in "aeiou":
            vowels.append(char)
            vowel_count += 1

    char_count = 0
    for char in sentence:
        char_count += 1

    letter_counts = {}
    for char in sentence:
        if char != " ":
            if char in letter_counts:
                letter_counts[char] += 1
            else:
                letter_counts[char] = 1

    print("Reversed:", reversed_sentence)
    print("Even index chars:", even_chars)
    print("Odd index chars:", odd_chars)
    print("Split:", split_sentence)
    print("Vowels:", vowels)
    print("Vowel count:", vowel_count)
    print("Character count:", char_count)
    print("Letter counts:")
    for letter, count in letter_counts.items():
        print(f"'{letter}': {count}")

sentence = "walchand institute of technology solapur"
process_sentence(sentence)

Reversed: rupalos ygolonhcet fo etutitsni dnahclaw
Even index chars: rplsyoohe oeuisidaca
Odd index chars: uao glnctf tttn nhlw
Split: ['walchand', 'institute', 'of', 'technology', 'solapur']
Vowels: ['a', 'a', 'i', 'i', 'u', 'e', 'o', 'e', 'o', 'o', 'o', 'a', 'u']
Vowel count: 13
Character count: 40
Letter counts:
'w': 1
'a': 3
'l': 3
'c': 2
'h': 2
'n': 3
'd': 1
'i': 2
's': 2
't': 4
'u': 2
'e': 2
'o': 4
'f': 1
'g': 1
'y': 1
'p': 1
'r': 1

In [25]:
count=0
string=(input("enter name"))
for i in string:
    count=count+1
print(count)

enter name sejal

5

In [33]:
string=(input("enter name"))
for i in string:
    if string
string

'sejaL'

In [43]:
def swap_case_manual(s):
    result = ""
    for char in s:
        if 'a' <= char <= 'z':
            result += chr(ord(char) - 32) 
        elif 'A' <= char <= 'Z':
            result += chr(ord(char) + 32) 
        else:
            result += char  
    return result

input_string = input("Enter a string: ")
output_string = swap_case_manual(input_string)
print("string:", output_string)

Enter a string:  SEjal

Converted string: seJAL

In [47]:
for i in range(1,11):
    print('ram')

ram
ram
ram
ram
ram
ram
ram
ram
ram
ram

In [1]:
while True:
    print("ram")
    break

ram

In [3]:
x=1
while x<6:
    print(x)
    x+=1
else:
    print("loop ended")

1
2
3
4
5
loop ended

In [5]:
x=1
while x<6:
    print(x)
    x+=1

1
2
3
4
5

In [7]:
x=10
while x>0:
    print(x)
    x-=1

10
9
8
7
6
5
4
3
2
1

In [3]:
def prime(n):
    if n < 2:
        return False  
    i = 2
    while i * i <= n: 
        if n % i == 0:
            return False 
        i += 1 
    return True
    
num = int(input("Enter a number: "))
if prime(num):
    print(num, "is a prime number")
else:
    print(num, "is not a prime number")

Enter a number:  6

6 is not a prime number

In [1]:
n=int(input("enter number"))
next=0
prev=1
count=0
while count<n:
    print(next)
    next,prev =prev,next +prev
    count=count+1
print('series')

enter number 5

0
1
1
2
3
series

In [7]:
n = int(input("Enter a number: "))
fact = 1
i = 1  
while i <= n:
    fact = fact * i
    i += 1  
fact

Enter a number:  5

120

In [11]:
class car:
    def __init__(self,model,year):
        self.model=model
        self.year=year
    def display(self):
        print(self.model,self.year)
c1=car("toyota",2016)
c1.display()

toyota 2016

In [13]:
class vehicle:
    def __init__(self,year):
        self.year=year
    def display(self):
        print(self.year)
v1=vehicle(1000)
v1.display()

1000

In [21]:
#Creating a class and object with class and instance attributes
class Dog:

	# class attribute
	attr1 = "mammal"

	# Instance attribute
	def __init__(self, name):
		self.name = name

# Driver code
# Object instantiation
Rodger = Dog("Rodger")
Tommy = Dog("Tommy")

# Accessing class attributes
print("Rodger is a {}".format(Rodger.__class__.attr1))
print("Tommy is also a {}".format(Tommy.__class__.attr1))

# Accessing instance attributes
print("My name is {}".format(Rodger.name))
print("My name is {}".format(Tommy.name))

Rodger is a mammal
Tommy is also a mammal
My name is Rodger
My name is Tommy

In [23]:
class Dog:

	# class attribute
	attr1 = "mammal"

	# Instance attribute
	def __init__(self, name):
		self.name = name
		
	def speak(self):
		print("My name is {}".format(self.name))

# Driver code
# Object instantiation
Rodger = Dog("Rodger")
Tommy = Dog("Tommy")

# Accessing class methods
Rodger.speak()
Tommy.speak()

My name is Rodger
My name is Tommy

In [27]:
def check_even_list(num_list):
    even_numbers=[]
    for number in num_list:
        if number%2==0:
            even_numbers.append(number)
        else:
            pass
    return even_numbers
check_even_list([1,2,3,4,5,6])

[2, 4, 6]

In [ ]:
inheritance:

In [46]:
class person(object):
    def __init__(self,name,idnumber):
        self.name=name
        self.idnumber=idnumber
    def display(self):
        print(self.name)
        print(self.idnumber)
    def details(self):
        print('my name is {}'.format(self.name))
        print('idnumber:{}'.format(self.idnumber))

class employee(person):
    def __init__(self,name,idnumber,salary,post):
        self.salary=salary
        self.post=post
        person.__init__(self,name,idnumber)
    def details(self):
        print('my name is {}'.format(self.name))
        print('idnumber:{}'.format(self.idnumber))
        print('post: {}'.format(self.post))
a=employee('ram',8999,8999,'intern')
a.display()
a.details()

ram
8999
my name is ram
idnumber:8999
post: intern

In [66]:
class dad(object):
    def __init__(self,name1,age1):
        self.name1=name1
        self.age1=age1
    def display(self):
        print(self.name1)
        print(self.age1)
    def details(self):
        print('name of dad {}'.format(self.name1))
        print('and his age is {}'.format(self.age1))
        
class mom(dad):
    def __init__(self,name2,age2,city2):
        self.name2=name2
        self.age2=age2
        self.city2=city2
    def display(self):
        print(self.name2)
        print(self.age2)
        print(self.city2)
    def details(self):
        print('name of mom {}'.format(self.name2))
        print('and her age is {}'.format(self.age2))
        print('she live in {} city'.format(self.city2))

class child(mom,dad):
    def __init__(self,name1,age1,name2,age2,city2,name3):
        self.name3=name3
        dad.__init__(self,name1,age1)
        mom.__init__(self,name2,age2,city2)
    def details(self):
        print('name of dad is {}'.format(self.name1))
        print('his age is {}'.format(self.age1))
        print('name of mom is {}'.format(self.name2))
        print('her age is {}'.format(self.age2))
        print('name of city is {}'.format(self.city2))
        print('and my name is {}'.format(self.name3))


a=child('ram',40,'sita',38,'pune','rahul')
a.details()

name of dad is ram
his age is 40
name of mom is sita
her age is 38
name of city is pune
and my name is rahul

In [9]:
a=int(input("enter a"))
b=int(input("enter b"))
def add(a,b):
    return a+b
def sub(a,b):
    return a-b
def mul(a,b):
    return a*b
def div(a,b):
    return a/b
print("add=",add(a,b))
print("sub=",sub(a,b))
print("mul=",mul(a,b))
print("div=",div(a,b))

enter a 5
enter b 2

add= 7
sub= 3
mul= 10
div= 2.5

In [15]:
def calculate(a,b,op):
    if op==1:
        return a+b
    if op==2:
        return a-b
    if op==3:
        return a*b
    if op==4:
        return a/b
a=int(input("enter a"))
b=int(input("enter b"))
op=int(input("Choose operation: 1-Add, 2-Subtract, 3-Multiply, 4-Divide: "))
result = calculate(a,b, op)
print("Result:", result)

enter a 4
enter b 2
Choose operation: 1-Add, 2-Subtract, 3-Multiply, 4-Divide:  4

Result: 2.0

In [13]:
def calculate(num1, num2, operation):
    if operation == 1:
        return num1 + num2
    elif operation == 2:
        return num1 - num2
    elif operation == 3:
        return num1 * num2
    elif operation == 4:
        return num1 / num2 if num2 != 0 else "Cannot divide by zero"
    else:
        return "Invalid operation choice"

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
operation = int(input("Choose operation: 1-Add, 2-Subtract, 3-Multiply, 4-Divide: "))

result = calculate(num1, num2, operation)
print("Result:", result)

Enter first number:  4
Enter second number:  1
Choose operation: 1-Add, 2-Subtract, 3-Multiply, 4-Divide:  3

Result: 4.0

In [37]:
import random

names_string = input("Enter names using comma: ")

names_list = names_string.split(",")
random_index = random.randint(0, len(names_list) - 1)

pay= names_list[random_index]
print(f"{pay} will pay the bill!")

Enter names using comma:  rajn,dhf,dhej

dhf will pay the bill!

In [ ]:
pass=input("enter pass")
len(pass)==

In [25]:
import random
import string

def generate_password():
    length = random.randint(8, 16) 
    characters = string.ascii_letters + string.digits +string.punctuation
    password = ''.join(random.choice(characters) for _ in range(length))
    return password
    
print("Generated Password:", generate_password())

Generated Password: K|AT9Z/Ew

In [71]:
a=int(input("enter a"))
b=int(input("enter b"))
c=int(input("enter c"))
if (a!=b!=c):
    print(a+b+c)
else:
    if(a==b):
        print(c)
    elif(a==c):
        print(b)
    elif(b==c):
        print(a)
    elif(a==b==c):
        print('0')

enter a 1
enter b 2
enter c 3

6

In [81]:
a=int(input("enter n"))
if (a%3==0 and a%5==0):
    print("fizzBuzz")
elif (a%5==0):
    print("Buzz")
elif (a%3==0):
    print("fizz")
else:
    print('invalid')

enter n 30

fizzBuzz

In [133]:
def count1(string, char):
    count = 0
    for c in string:
        if c == char:
            count += 1
    return count

string = input("Enter a string: ")
char = input("Enter the character to count: ")
total= count1(string, char)
print(total)

Enter a string:  ahhhj
Enter the character to count:  h

3

In [ ]:
import random as rand
a=int(input("enter choice 1-rock 2-paper 3-sissor")
if ()

In [148]:
import random
def computer():
    return random.choice(["rock", "paper", "scissors"])

def determine_winner(user_choice, computer_choice):
    if user_choice == computer_choice:
        return "tie"
    elif (user_choice == "rock" and computer_choice == "scissors") or \
         (user_choice == "paper" and computer_choice == "rock") or \
         (user_choice == "scissors" and computer_choice == "paper"):
        return "You win!"
    else:
        return "Computer wins!"

user_choice = input("Enter rock, paper, or scissors: ").lower()

if user_choice not in ["rock", "paper", "scissors"]:
    print("Invalid choice")
else:
    computer_choice = computer()
    print(f"Computer chose: {computer_choice}")
    result = determine_winner(user_choice, computer_choice)
    print(result)

Enter rock, paper, or scissors:  rock

Computer chose: scissors
You win!